.app-tooltip {
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    background-color: rgba(10,10,10,0.6);
    border-radius: 5px;
    padding: 5px;
    max-width: 350px;
}
